@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "All Roles";
}

<h1>All Roles</h1>

@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole"
       asp-controller="Administration">Add New Role</a>

    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a asp-action="EditRole" asp-route-roleid="@role.Id"  class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger" onclick="confirmDelete('@role.Id')">Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to create a role
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="administration" asp-action="CreateRole">
                Create Role
            </a>
        </div>
    </div>
} 


<form id="deleteForm" method="post" style="display:none;">
    <input type="hidden" id="roleId" name="roleId" />
</form>

<script>
    function confirmDelete(roleId) {
        if (confirm("Are you sure you want to delete this role?")) {
            document.getElementById('roleId').value = roleId; // Gán roleid ở form bằng tham số roleid
            document.getElementById('deleteForm').action = '/Administration/DeleteRole'; // Cập nhật action cho thẻ input xoá ở trên
            document.getElementById('deleteForm').submit(); // Gửi form
        }
    }
</script>